.mc{width: 960px;}
.tr-th {
    background: #F1F6F9;
}
.tr-th td {
    text-align: left;
}
.tr-th span {
    display: inline-block;
    margin-right: 10px;
    overflow: hidden;
    vertical-align: middle;
    height: 24px;
    line-height: 23px;
    float: left;
}
.tcol1 {
    width: 225px;
    color: #666;
}
.tcol1 a{color: #10a8c2}
.tr-td td {
    vertical-align: top;
    padding-top: 10px;
}
.tr-th td:last-child,.tr-td td:last-child{padding-left: 50px;}
.tb-void .img-list {
    float: left;overflow: hidden;text-align: left;
}
.Multiplied{float: left;
    margin-left: 77px;
    margin-top: 21px;}
.tb-void td {
    border: 1px solid #f2f2f2;
    padding: 3px 43px;
}
.u-name {
    font-size: 14px;
    overflow: hidden;
    word-break: break-all;
    word-wrap: break-word;
}
.mc_tit{margin: 10px 0 0 0}
.mc_tit p a{font-size: 15px;color: #10a8c2;float: left}
.tb-void {
    line-height: 18px;
    text-align: center;
    border: 1px solid #f2f2f2;
    border-top: 0;
    color: #333;
    width: 100%;border-spacing: 0;
}
.tr-td td{height: 90px;border-bottom: none;font-size: 14px;line-height: 22px;
    border-right: none;}
table tr th {
    float: left;font-size: 14px;

}
.btn-again{color: #10a8c2}
.tb-void tr td span{font-size: 14px;}
.tb-void tr td a{font-size: 14px;color: #10a8c2}