.personal_left,.personal_mid,.personal_right,.personal_mid ul li,.personal_left img,.personal_left div{float: left;}
.cc{padding:30px}
.personal_left{  border-right: 1px dashed #10a8c2;
    padding-right: 40px;}
.personal_mid{margin-top: 28px;}
.personal_mid ul li{width: 125px;text-align: center;}
.personal_mid ul li p{font-size: 14px;}
.personal_mid ul li p span,.personal_right p span{color: #10a8c2;font-weight: 700;padding-left: 5px;}
.personal_right{width: 160px;
    background-color: #F0F4F7;
    height: 136px;}
.personal_right p,.personal_right h3{padding-left: 10px;}
.personal_right h3{padding-top: 20px;}
.personal_right p{line-height: 30px;font-size: 14px;}
.cr{border-bottom: 1px dashed #808080;width: 80%;padding-top: 10px;}
.logistics_tit{height: 40px;background-color: #F3F4F8;float: left;width: 717px;border: 1px solid #eee}
.logistics_tit img{float: left;}
.logistics{border: 1px solid #eee;width: 717px;margin-right:10px;
    float: left;}
.logistics_btn ul li {height: 90px;
    border-bottom: 1px solid #eee;position: relative;
    }
.log_btn_rit .sh{position: absolute;
    right: 33px;
    top: 34px;
    display: inline-block;
    width: 115px;
    height: 40px;
    border: 1px solid #C5BBBB;color: #C5BBBB;
    text-align: center;
    line-height: 40px;}
.logistics_btn ul li:last-child{border-bottom: none;}
.logistics_btn ul li img{float: left;
    padding: 12px;}
.log_btn_rit{float: left}
.log_btn_rit p{padding-top: 20px;
    font-size: 14px;
    color: #808080;}
.log_btn_rit p a{color: black;font-size: 14px;
    padding-left: 20px;}
.rx{float: left;width: 717px;position: relative;top: -43px;margin-right: 12px;}
.rx ul li{float: left;width: 233px;border: 1px solid #eee;}
.rx ul li:hover{border: 1px solid #10a8c2}
.huiyuan{float: left;width: 238px;border: 1px solid #eee}
.huiuan_tui{width: 238px; }
.rx ul {margin-top: 10px;}
.logistics_tit p{line-height: 42px;}
/*.log_btn_rit a{display: inline-block;width: 150px;height: 50px;}*/