.return tr td{padding: 10px 10px;height: 30px;line-height: 30px;}
.return {float: left;margin-left: 15px;}
.return tr td select,.return tr td input{  width: 152px;
    height: 30px;}
.q span{font-size: 14px;color: #808080}
.file {
    position: relative;
    display: inline-block;
    background: #eee;
    border: 1px solid #808080;
    border-radius: 4px;
    padding: 51px 40px;
    overflow: hidden;
    color: #808080;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
}
.file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}
.file:hover {
    background: #eee;
    border-color: gray;
    color: #004974;
    text-decoration: none;
}
.Submit_q{margin-top: 30px;  margin-top: 59px;
    float: left;
    margin-left: 115px;}
.numbering span{color: black;font-size: 16px;}
.return tr td i{font-style: normal;
    color: rgb(236, 102, 102);padding: 0;
    font-size: 14px;}