*{padding:0px;margin: 0 auto; font-size: 14px;font-family: "microsoft yahei" ;list-style: none;text-decoration: none;}
body{min-width: 1360px;}
img{border: none}
/* side */
.side{position:fixed;width:45px;height:275px;right:0;top:214px;z-index:100;}
.side ul li{width:45px;height:45px;float:left;position:relative;border-bottom:1px solid #eee;}
.side ul li .sidebox{position:absolute;width:45px;height:45px;top:0;right:0;transition:all 0.3s;background:#10a8c2;opacity:0.8;filter:Alpha(opacity=80);color:white;font:14px/45px "Î¢ÈíÑÅºÚ";overflow:hidden;}
.side ul li .sidetop{width:45px;height:45px;line-height:45px;display:inline-block;background:#10a8c2;opacity:0.8;filter:Alpha(opacity=80);transition:all 0.3s;}
.side ul li .sidetop:hover{background:#10a8c2;opacity:1;filter:Alpha(opacity=100);}
.side ul li img{float:left;}
.top{width: 100%;background-color:#E0E5DF;border-bottom: 1px solid #eee;}
.header{width: 1200px;height: 35px;position: relative}
.search{width: 1155px;height: 100px;}
.search form{width: 640px;}
.header_nav_bdl,.header_nav_bdl li,.header_nav_bdr li{float: left;height: 35px;line-height: 35px;padding:0 10px;}
.header_nav_bdr{float: right;cursor:pointer}
.header_nav_bdr li{float: left;}
.clear{clear: both}
.header_nav_bdl li a,.header_nav_bdr li a,.header_nav_bdr li div a{color: #808080}
.login img{float: left;}
.nav_2015{border-bottom: 1px #10a8c2 solid;}
.lianxi{float: right;position: relative;
    top: 32px;z-index: -999;right: 30px;}
.lianxi   img,.lianxi p{float:left;}
.lianxi   p{height: 35px;
    line-height: 40px;  font-size: 20px;}
.nav{height: 45px;width: 1200px;}
.nav_left{float: left;
    position: relative;
    z-index: 10;
    width: 210px;
    height: 44px;
    overflow: visible;}
.nav_mid{float: left;position: relative;z-index: 2;}
.nav_right img{width: 165px;height: 42px;border: none}
.nav_mid ul li ,.nav_right{float: left}
.nav_mid ul li a{height: 44px;
    padding: 0 40px;
    text-align: center;
    text-decoration: none;
    font: 400 15px/44px "microsoft yahei";
    color: #333;}
.dt a{  display: block;
    width: 190px;
    height: 45px;
    padding: 0 10px;
    background: #10a8c2;
    font: 400 15px/44px "microsoft yahei";
    color: #fff;
    text-decoration: none;text-align:center}
.item{
    position: relative;
    z-index: 1;
    height:50px;border-bottom: 1px dashed #808080;
}
.item h4{
    position: absolute;
    z-index: 2;
    height: 50px;

    line-height: 35px;
    font-family: "microsoft yahei";
    font-size: 10px;
    font-weight: 400;
}
.item h4 a{
    padding: 0 10px;  color: #4A4848;
}
.item h4 a:hover{color: #10a8c2}
.item i{position: absolute;
    z-index: 1;
    top: 25px;
    right: 14px;
    width: 4px;
    height: 14px;
    font: 400 9px/14px consolas;}
.item h2{padding-left: 10px;padding-top: 6px;color: #4A4848}
.zhiren{border-bottom: 1px solid #808080;width: 90%}
.zhiren p{padding: 10px 0 5px 0;
    font-weight: bold;}
.dd-inner{background-color: white;padding: 0 10px;}
.content_top{width: 100%;overflow: hidden;background-color: #38747F}
.slides{width: 774px;}
.slides li img{height: 538px;}
.zhamo{float: right;width: 216px;position: relative}
.content_top_t{width: 1200px;}
.zhamo a img{width: 100%;height: 269px}
.search_t{
    float: left;margin-left: 28px;position: relative;
    }
.search_t>select{float: left;
    margin-top: 40px;
    font-size: 16px;
    border: 1px solid #10a8c2;
    height: 33px;border-radius: 7px;
}
.qiangshou{width: 1200px;margin-top: 30px;overflow: hidden;border-right: 2px #eee solid;border-left: 2px solid #eee}
.qiangshou ul li{float: left;width: 300px;border-top: 2px solid #808080;border-bottom: 1px solid #eee;}
.qiangshou_l,.qiangshou_r{float: left}
.qiangshou_l h3 span{color: #10a8c2;font-weight: bold;font-size: 18px;}
.qiangshou_l{position: relative;height: 160px;margin-left: 30px}
.qiangshou_l h3{font-size:18px;font-weight: bold;padding-top: 10px}
.qiangshour img{padding-top: 22px;
    padding-left: 12px;}
.xs,.jiage{color: #10a8c2}
.chakan{color: #808080}
.xs{padding-top:15px;}
.jiage{font-size: 20px;font-weight: bold;padding: 5px 0;}
.hf{position: absolute;bottom: 10px;}
.qiangshour {height: 140px;}
.chezi{width: 1200px;margin-top: 30px;}
.chezi_tt{float: left;}
.chezi_tt img{
    width: 300px;height: 220px;}
.chezi_xing ul li{float: left;width: 97px;text-align: center;border-bottom: 1px solid #eee;border-right: 1px solid #eee }
.chezi_xing{float: left;width: 598px;border: 1px solid #10a8c2;overflow: hidden}
.chezi_xing ul {border-top: 1px solid #eee}
.zhanshi{width: 1200px;margin-top: 30px;}
.zhanshi ul{width: 900px;float: left}
.zhanshi ul li{float: left;width: 149px;margin-left: 1px;background-color: #E0F0F0;height: 70px;margin-top: 1px;}
.zhanshi  ul li a {color: #10a8c2;text-align: center;display: block;}
.zhanshi ul li a p{color: black;font-size: 16px;padding-top: 25px}
.zhanshi a img {height: 142px;float: left;width: 300px;}
.yasuo{width: 1200px;}
.yaosuo_l{width: 200px;float: left;margin-top: 30px;}
.yasuo_l_title{text-align: center;height: 77px;line-height: 77px;background-color: #10a8c2}
.yasuo_l_title p{font-size: 20px;color: white;font-weight: 500}
.yaosuo_l li a img{padding-top: 10px;}
.yaosuo_l ul{border-top: 1px solid #eee}
.yaosuo_l ul li{text-align: center;border: 1px solid #eee;height: 180px;}
.bigger{font-weight: bold;font-size: 18px;padding-top: 20px;color: black}
.yiyuan{color: #10a8c2;font-size: 14px;}
.xiatian a img{width: 400px;height: 441px;margin-top: 30px;}
.xiatian{width: 400px;float: left;}
.cheyong{width: 1200px;margin-top: 30px;}
.cheyong a img{width: 1200px;}
.qingliang{width: 400px;float: left;margin-top: 30px;}
.qingliang img{width: 400px;height: 361px;}
.care {width: 1000px;float: left}
.care img {width: 1000px;height: 78px;}
.pinzhi{width: 1200px;overflow: hidden;height: 170px;margin-top: 30px;border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;}

.pinzhi_b_li{float: left;width: 287px;border-right: 1px solid #eee;height: 150px;padding: 25px 5px;}
.pinzhi_b ul li img{float: left;padding-left: 23px;}
.pinzhi_b ul li ul{float: left;padding-top: 30px;padding-left: 10px;}

.pinzhi_b ul li ul li a{font-size: 16px;color: black;font-weight: 700;}
.pinzhi_b ul li ul li{color: gray}
.pinzhi_b{overflow: hidden;height: 150px;margin-top: 10px;}
.copyright {
    clear: both;
    width: 100%;
    height: 200px;
    margin-top: 10px;
}
.copyright_content {
    width: 1200px;
    height: 180px;
    margin: 0 auto;
    padding-top: 20px;border-bottom: 1px solid #eee;
}
.copyright_content li {
    list-style-type: none;
    float: left;
    width: 200px;
    text-align: center;
    font-size: 14px;
    line-height: 30px;
    color: black;
}
.copyright_content li ul li {
    font-size: 10px;
}
.copyright_content li ul li a{color: #808080;  font-size: 12px;}
.authentication{width: 600px;margin-top: 30px;}
.authentication a {margin:0 5px}
.authentication a img{border: none;width: 103px;height: 32px;}
.daganzao{  font-size: 20px;
    font-weight: bold;
    padding-top: 15px;}
.dazhe{font-size: 18px;color: #10a8c2}
.ftt{width: 1000px;
    line-height: 20px;
    margin-top: 30px;
    color: #808080;
    font-size: 12px;font-size: 12px;}
.header .header_nav_bdr .spacer {
    width: 1px;
    height: 12px;
    margin-top: 13px;
    padding: 0;
    background: #A88686;
    overflow: hidden;
}


.search_b{margin-top: 30px;overflow: hidden;margin-left: 30px;}
.search_b>div{float: left}
.search_b img{padding-top: 2px;}
.common-add .ri td .spacer{   width: 1px;
    height: 12px;
    margin-top: 13px;
    padding: 0;
    background: #A88686;
    overflow: hidden;
    display: inline-block;
    margin-left: 7px;}
  .pointer {
            cursor:pointer;
        }
        .popup {
            display:none;
            background:#fff url(../image/popup.png) no-repeat;
            width:638px;
            height:272px;
            border-radius:3px;
            border:1px solid #10a8c2;
            position:absolute;
            top:105px;
            z-index:999
        }
        .close {
            display: inline-block;
            width: 35px;
            height: 35px;
            float: right;
        }

        .select-group:first-child {
            margin-top: 62px;
        }

        .select-group {
            margin:25px 28px;
        }

        .select-group > label {
            margin-right: 15px;
        }
        .select-group > label, .select-group select {
            height: 28px;
        }

        .select-group .orange-select {
            border: 1px solid #10a8c2;
            outline: none;
            width: 140px;
        }

        .select-group .select-long {
            width: 315px;
        }

        .submit {
            border: none;
            background: #10a8c2;
            color: white;
            width: 140px;
            height: 28px;
        }
        .top_top{position: fixed;bottom:100px;right: 0;width:40px;}
        .top_top a{ display: block;width:40px;height: 40px;background-color: #10a8c2;line-height: 40px;text-align: center;color: white}
.wei_xin{position: fixed;top:20%;left: 25%;height: 370px;width: 800px;}
.wei_xin img{width: 800px;height: 370px;}